table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(2) {
     background-color: #dddddd;
 }
tr:nth-child(4) {
    background-color: #dddddd;
}
tr:nth-child(6) {
    background-color: #dddddd;
}
tr:nth-child(8) {
    background-color: #dddddd;
}